* {
    margin: 0;
    padding: 0;
    border: none;
    outline: none;
    box-sizing: border-box;
    text-decoration: none;
}

body {
    font-family: "Poppins", sans-serif;
    background: #f1f1f1;
    font-size: 16px;
}

ul {
    list-style-type: none;
}

.back-btn {
    line-height: 40px;
    padding: 0 15px;
    border: none;
    cursor: pointer;
    border-radius: 6px;
    color: var(--text);
    background-color: transparent;
}

.top {
    margin-bottom: 15px;
}

.inner-wrapper {
    display: flex;
    align-items: center;
    height: 100vh;
}

.menuwrapper {
    background-color: #ffffff;
    width: 100%;
    box-shadow: 0 2px 15px 0 rgba(0, 0, 0, 0.09);
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.menu {
    text-align: center;
    padding: 5px 0;
    display: flex;
    align-items: center;
}

.insertForm {
    width: 50%;
    background-color: #ffffff;
    padding: 15px;
    margin: 0 auto;
    box-shadow: rgba(0, 0, 0, 0.1) 0 20px 25px -5px, rgba(0, 0, 0, 0.04) 0 10px 10px -5px;
    border-radius: 7px;
}

label {
    display: block;
    margin-bottom: 5px;
    font-weight: 600;
    color: #333333;
    font-size: .9rem;
}

.input-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 20px;
}

.linkitem {
    font-weight: 500;
    padding: 25px 10px;
    cursor: pointer;
}

.linkitem a:hover {
    text-decoration: underline;
}

form > div:nth-child(2) {
    display: grid;
    justify-content: center;
    margin-top: 20px;
}

input,
select {
    width: 100%;
    height: 40px;
    padding: 10px;
    border-radius: 5px;
    background-color: #d9d9d9;
}

input[type="submit"] {
    width: fit-content;
    background-color: #19376D;
    color: #ffffff;
    cursor: pointer;
    margin-top: 1rem;
    padding: .7rem 2rem;
}

.styled-table {
    border-collapse: collapse;
    margin: 0 auto;
    font-size: 0.9em;
    font-family: sans-serif;
    min-width: 400px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
}

.styled-table thead tr {
    background-color: #19376D;
    color: #ffffff;
    text-align: left;
}

.styled-table th,
.styled-table td {
    padding: 12px 15px;
}

.styled-table tbody tr {
    border-bottom: 1px solid #dddddd;
}

.styled-table tbody tr:nth-of-type(even) {
    background-color: #f3f3f3;
}

.styled-table tbody tr:last-of-type {
    border-bottom: 2px solid #009879;
}

.styled-table tbody tr.active-row {
    font-weight: bold;
    color: #009879;
}

